{{head}}
        <div class="spacer"></div>
        <div class="tm-grid">
          <div class="tm-copy">
            <p class="body">{{body}}</p>
          </div>
          <figure class="tm-device">
            <div class="tm-bezel">
              <div class="tm-screen tm-screen--empty">
                <p class="tm-ph confirm">[confirm: product screenshot]</p>
              </div>
            </div>
            <div class="tm-stand"></div>
            <div class="tm-foot"></div>
          </figure>
        </div>
        <div class="spacer"></div>
